{% extends 'base.html'%} {% block head %}
<title>{{title}}</title>
{% endblock %} {% block body %}

<div class="container">
<h2>Task Manager</h2>
<table>
  <tr>
    <th>Task</th>
    <th>Date added</th>
    <th>Action</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.content}}</td>
    <td>{{task.created_at.date()}}</td>
    <td>
        <a href="/update/{{task.id}}">Edit</a> &nbsp; 
        <a href="/delete/{{task.id}}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<form action="/" method="post">
  <div class="form-group">
    <label for="task">Task</label>
    <input type="text" class="form-control" id="task" name="task" placeholder="Enter task">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>

{% endblock %} {% block footer %} {% endblock%}
